@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cormorant');

html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: "Cormorant", serif;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
}

ul li{
    list-style-type: square;
}

ul ul li {
    list-style-type: disc;
}

ul ul ul li {
    list-style-type: circle;
}