@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

p {
    width: 95px;
    padding: 12px;
}

p:first-child {
    background-color: rgb(0, 128, 0);
}

p:nth-child(2) {
background-color: rgb(255, 140, 0)
}